In [71]:
import numpy as np

csv_file = np.genfromtxt('expenses.csv', 
                    delimiter=',', dtype=int)
expenses = csv_file[:].tolist()


def finding_entries():

    t = 2020
    duplicates = 0
    for i in expenses:
        if t/2 == i:
            duplicates += 1
            if duplicates >1:
                return i*i
        
                
    for i in expenses:
        if t-i in expenses and i != t/2:
            return (t-i)*i


finding_entries()

731731

In [72]:
# find 3 numbers in a list that add up to exactly a certain total/t here t= 2020.
# What do we know:
# not all numbers can be higher than t/3, so at least one number should be lower than t/3

[222, 365, 473, 572, 600]

In [73]:
# the lowest 2 values are 222 and 365, that means that any number higher than t-low_list[0]-low_list[1]
# can't be in the list

1433

In [98]:
def finding_entries():
    csv_file = np.genfromtxt('expenses.csv', 
                    delimiter=',', dtype=int)
    expenses = csv_file[:].tolist()
# at least one value should be lower than t/3, so let's capture that in a list.
    t = 2020
    low_list = []
    for i in expenses:
        if i < t / 3:
            low_list.append(i)
    low_list.sort() 
    low_list # [222, 365, 473, 572, 600] 5 values

# because low_list is sorted, we also know that no value higher than: t - low_list[0] - low_list[1] can be used
# so let's create the final list that get's rid of those values that are too high as well.
    final_list = []
    for i in expenses:
        if i <= t - low_list[0] - low_list[1]:
            final_list.append(i)
    final_list.sort() # sort the list again
    
# now that we have elimanted all values that are out of the possible range we can deduct every possible
# combination of 2 values from the list from t. if this outcome is in the final_list we have our third value
# and we can return the product of these values to get our answer.

    for i in final_list[0:5]:
        for e in final_list:
            x = t - (e + i)
            if x in final_list:
                return(x * e * i)
                                
finding_entries()

116115990

116115990
116115990

In [86]:
low_list = [222, 365, 473, 572, 600]
short_list = [222, 365, 473, 572, 600, 1425,1426,1428,1430,1433]

In [87]:
count = 0
for i in low_list:
    for e in short_list:
        print(short_list[e])

IndexError: list index out of range

In [92]:
t= 2020
for i in short_list[0:5]:
    for e in short_list:
        print(e,i)

222 222
365 222
473 222
572 222
600 222
1425 222
1426 222
1428 222
1430 222
1433 222
222 365
365 365
473 365
572 365
600 365
1425 365
1426 365
1428 365
1430 365
1433 365
222 473
365 473
473 473
572 473
600 473
1425 473
1426 473
1428 473
1430 473
1433 473
222 572
365 572
473 572
572 572
600 572
1425 572
1426 572
1428 572
1430 572
1433 572
222 600
365 600
473 600
572 600
600 600
1425 600
1426 600
1428 600
1430 600
1433 600

In [112]:
def finding_entries(expenses, t):
# at least one value should be lower than t/3, so let's capture that in a list.
    low_list = []
    for i in expenses:
        if i < t / 3:
            low_list.append(i)
    low_list.sort() 
    low_list # [222, 365, 473, 572, 600] 5 values for t == 2020
    lenght = len(low_list)

# because low_list is sorted, we also know that no value higher than: t - low_list[0] - low_list[1] can be used
# so let's create the final list that get's rid of those values that are too high as well.
    final_list = []
    for i in expenses:
        if i <= t - low_list[0] - low_list[1]:
            final_list.append(i)
    final_list.sort() # sort the list again
    
# now that we have elimanted all values that are out of the possible range we can deduct every possible
# combination of 2 values from the list from t. if this outcome is in the final_list we have our third value
# and we can return the product of these values to get our answer.

    for i in final_list[0:lenght]:
        for e in final_list:
            x = t - (e + i)
            if x in final_list:
                return(f"The values are {x}, {e} and {i} and the answer is it's product {x*i*e}")

            
csv_file = np.genfromtxt('expenses.csv', 
                delimiter=',', dtype=int)
expenses = csv_file[:].tolist()

total = 2020

finding_entries(expenses, total)

"The values are 1433, 365 and 222 and the answer is it's product 116115990"

In [113]:
expenses_shady = [1981, 1415, 1767, 1725, 1656, 1860, 1272, 1582, 1668, 1202, 1360, 1399, 1517, 1063, 1773, 1194, 1104, 1652, 1316, 1883, 1117, 522, 1212, 1081, 1579, 1571, 1393, 243, 1334, 1934, 1912, 1784, 1648, 1881, 1362, 1974, 1592, 1639, 1578, 1650, 1771, 1384, 1374, 1569, 1785, 1964, 1910, 1787, 1865, 1373, 1678, 1708, 1147, 1426, 1323, 855, 1257, 1497, 1326, 1764, 1793, 1993, 1926, 1387, 1441, 1332, 1018, 1949, 1807, 1431, 1933, 2009, 1840, 1628, 475, 1601, 1903, 1294, 1942, 1080, 1817, 1848, 1097, 1600, 1833, 1665, 1919, 1408, 1963, 1140, 1558, 1847, 1491, 1367, 1826, 1454, 1714, 2003, 1378, 1301, 1520, 1269, 1820, 1252, 1760, 1135, 1893, 1904, 1956, 1344, 1743, 1358, 1489, 1174, 1675, 1765, 1093, 1543, 1940, 1634, 1778, 1732, 1423, 1308, 1855, 962, 1873, 1692, 1485, 1766, 1287, 1388, 1671, 1002, 1524, 1891, 1627, 1155, 1185, 1122, 1603, 1989, 1343, 1745, 1868, 1166, 1253, 1136, 1803, 1733, 1310, 1762, 1319, 1930, 1637, 1726, 1446, 266, 1121, 1851, 1819, 1284, 1959, 1449, 1965, 1687, 1079, 1808, 1839, 1626, 1359, 1935, 1247, 1932, 1951, 1318, 1597, 1268, 643, 1938, 1741, 1721, 1640, 1238, 1976, 1237, 1960, 1805, 1757, 1990, 1276, 1157, 1469, 1794, 1914, 1982, 1115, 1907, 1846, 1674]

finding_entries(expenses_shady, total)

"The values are 855, 643 and 522 and the answer is it's product 286977330"